footer.footer
  .container.max-w-6xl.mx-auto.flex.items-center.px-2.py-8
    .w-full.mx-auto.flex.flex-wrap.items-center
      .flex.w-full.justify-center.text-white.font-extrabold(class='md:w-1/2 md:justify-start')
        a.text-gray-900.no-underline(class='hover:text-gray-900 hover:no-underline', href='#')
          span.text-base.text-gray-200 FOOTER
      .flex.w-full.pt-2.content-center.justify-between(class='md:w-1/2 md:justify-end')
        ul.list-reset.flex.justify-center.flex-1.items-center(class='md:flex-none')
          li
            a.inline-block.text-gray-600.no-underline.py-2.px-3(class='hover:text-gray-200 hover:underline', href='#') link
          li
            a.inline-block.text-gray-600.no-underline.py-2.px-3(class='hover:text-gray-200 hover:underline', href='#') link
          li
            a.inline-block.text-gray-600.no-underline.py-2.px-3(class='hover:text-gray-200 hover:underline', href='#') link
