extends ./templates/_layout

block variables
  -
    var appId = 'top';
    var title = 'TOP PAGE';
    var description = 'Description: This page is top page.';

block content
  include components/layouts/_header.pug
  include components/pages/_post-listing.pug
  include components/layouts/_footer.pug
