extends ./templates/_layout

block variables
  -
    var appId = 'top';
    var title = 'TOP PAGE';
    var description = 'Description: This page is top page.';

block content
  include components/_header.pug
  div.container.mx-auto.px-4
    p This is a sample.
  include components/_footer.pug
