.main.px-4
  .container.flex.flex-wrap.items-center.justify-between.mx-auto.py-6
    .justify-start
      .text-base 2020.02.12
      .text-lg.font-bold.p-1 「XXX」インタビュー
    .justify-end.flex
      .text-sm.py-0.px-6.tag__v1 インタビュー
  .container.mx-auto.grid.grid-cols-1.text-white.pb-6.text_area
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p.cp_q Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p.cp_a Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    p アメリカ合衆国アリゾナ州の北西部に位置するグランドキャニオン国立公園地殻変動とコロラド川による浸食でできた壮大な渓谷。深さは最深地点で約1,800m​ラスベガスから日帰りで行ける距離にあり創られた街と手つかずの自然二つのコントラスが楽しめるのもこの旅の魅力の一つです。
    p.cp_q コロンビア特別区（コロンビアとくべつく、英: District of Columbia）、通称ワシントンD.C.（ワシントン・ディーシー、英: Washington, D.C.）は、アメリカ合衆国の首都。
    p.cp_a 超大国の首都としては狭く人口もさほど多くないが、超大国の政府所在地として国際的に強大な政治的影響力を保持する世界都市であり、また金融センターとしても高い重要性を持つ。首都としての機能を果たすべく設計された、計画都市である。
    p 法律上の正式名称は「コロンビア特別区」（コロンビアとくべつく、District of Columbia）。州には属さないアメリカ合衆国・連邦政府直轄地。
    div.mx-auto.flex.items-center.content-between
      img(src="https://picsum.photos/600/300").px-1
    p 高岡は、高尾山の魅力を最大限に生かしつつダイナミックでありながらも、美しく綺麗で繊細な写真は、世界で高く評価され2019年ワールドコンテストでは優勝という輝かしい実績があります。
  .container.mx-auto
      div.flex.py-4.border-solid.border-t.border-b.border__color__tertiary.mb-6
        p.mx-auto.text__color__hilight.text-xl Pickup Stylist
      .grid.grid-cols-2.text-white.pb-6.text_area
        div.mx-auto.px-2
          img(src="https://picsum.photos/200/300")
        div.mx-auto.px-2
          p.text__color__hilight.font-bold.mb-4 赤坂さん
          p 皆さんに一言！
          p 悩みや不安を取り除けるように常に心がけています。
          p ご来店お待ちしています！
  .container.flex.flex-wrap.items-center.justify-between.mx-auto.pb-6
    .justify-start
      div.flex
        img(src="../static/icon_back.svg").bg__color__hilight.border.border__color__primary.p-0.rounded-full.w-8
        p.pl-1.m-auto 前のページへ戻る
  .container.flex.flex-wrap.items-center.justify-between.mx-auto.pb-6
    .justify-start.flex
      .text-base.p-2.bg__color__secondary <
      .text-base.p-2 Previous
    .justify-end.flex
      .text-base.p-2 Next
      .text-base.p-2.bg__color__secondary >
  .container.mx-auto.pb-6
    p.text-base.pb-2.text__color__hilight Category
    include ../components/common/button/_full_width_button__v3.pug
    include ../components/common/button/_full_width_button__v2.pug
  .container.mx-auto.pb-6
    include ../components/common/button/_full_width_button__v1.pug
