.main.px-4
  .container.flex.flex-wrap.items-center.justify-between.mx-auto.py-6
    .justify-start
      .text-base 2020.02.12
      .text-lg.font-bold.p-1 NEWS
    .justify-end.flex
      .text-sm.py-0.px-6.tag__v1 NEW SHOP
  .container.mx-auto.grid.lg_grid-cols-2.sm_grid-cols-1.text-white.pb-6.text_area
      div.mx-auto.px-2
        img(src="https://picsum.photos/500/300")
      div.mx-auto.px-2
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .container.flex.flex-wrap.items-center.justify-between.mx-auto.pb-6
    .justify-start
      div.flex
        img(src="../static/icon_back.svg").bg__color__hilight.border.border__color__primary.p-0.rounded-full.w-8
        p.pl-1.m-auto Back
  .container.flex.flex-wrap.items-center.justify-between.mx-auto.pb-6
    .justify-start.flex
      .text-base.p-2.bg__color__secondary <
      .text-base.p-2 Previous
    .justify-end.flex
      .text-base.p-2 Next
      .text-base.p-2.bg__color__secondary >
  .container.mx-auto.pb-6
    include ../components/common/button/_full_width_button__v1.pug
