.main
  .container.mx-auto.py-6
    .flex.justify-center.pb-4
      p.text-lg Reserved complete!
    .flex.justify-center.pb-4
      p.text-sm.font-bold.px-32.py-2.bg__color__secondary Reserved Number
    .flex.justify-center.pb-4
      p.text-lg X1234567890
    .flex.justify-center.pb-4
      p.text-sm I sent an email. Please check.
.secondary.py-6
  .container.mx-auto.pb-3.pt-6
    .container.mx-auto.grid.px-12
      div.mx-auto.flex
        div.mx-auto.flex.flex-col.bg__color__primary.text__color__tertiary.w-24.h-24
          div.m-auto
            p.mx-auto.text-lg.font-bold.text-center MENS
            p.mx-auto.text-2xl.font-bold.text-center 必見
        div.my-auto
          p.px-2.text-base Exciting time or space there's no limit!
          p.px-2.font-bold.text-3xl 3 steps to Magic world!
  .container.mx-auto.pb-6.border-b.border-solid.border__color__tertiary
    .container.mx-auto.grid.lg_grid-cols-2.sm_grid-cols-1.px-12.text_area
      div.mx-auto.px-2
        img(src="../static/reserved.jpg")
      div.mx-auto.px-2
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .container.mx-auto.py-6
    .container.mx-auto.grid.lg_grid-cols-3.sm_grid-cols-1.px-12
      div.mx-auto.flex.pb-2
        img(src="../static/icon_counseling_step01.svg").bg__color__hilight.border.border__color__primary.w-24.h-24.p-1
        p.my-auto.px-2 In a Magic World, exciting time or space there's no limit!
      div.mx-auto.flex.pb-2
        img(src="../static/icon_counseling_step02.svg").bg__color__hilight.border.border__color__primary.w-24.h-24.p-1
        p.my-auto.px-2 In a Magic World, exciting time or space there's no limit!
      div.mx-auto.flex.pb-2
        img(src="../static/icon_counseling_step03.svg").bg__color__hilight.border.border__color__primary.w-24.h-24.p-1
        p.my-auto.px-2 In a Magic World, exciting time or space there's no limit!
.main
  .container.mx-auto.py-6.flex.justify-center
    include ../components/common/button/_button__v4.pug

