.main.px-4
  .container.mx-auto.p-6.grid.grid-cols-1
    h2.text-4xl.mx-auto.col-auto NEWS & TOPICS
    span.text-2xl.mx-auto.col-auto Blog
  .container.mx-auto.grid.grid-cols-1.border-t.border-b.border-white.border-solid.text-white
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
    div.py-4.px-2.border-b.border-white.border-dotted
      span.text-base.px-2 20XX.02.12
      span.text-base.px-2 aaa
  .container.mx-auto.p-6.flex.justify-center
    a.prev.p-2(href='#') &laquo;
    a.p-2.bg-gray-500(href='#') 1
    span.p-2(href='#') 2
    a.p-2.bg-gray-500(href='#') 3
    a.p-2.bg-gray-500(href='#') 4
    a.p-2.bg-gray-500(href='#') 5
    a.p-2.bg-gray-500(href='#') 6
    a.p-2.bg-gray-500(href='#') 7
    a.p-2.bg-gray-500(href='#') 8
    a.p-2.bg-gray-500(href='#') 9
    a.p-2.bg-gray-500(href='#') 10
    span.p-2.dots &mldr;
    a.p-2.bg-gray-500(href='#') 15
    a.next.p-2(href='#') &raquo;
  .container.mx-auto.p-6
    span.text-base.px-2.flex.justify-start return
    span.text-base.px-2.flex.justify-end next
  .container.mx-auto.p-3
    .button__v1.py-2.w-full.flex.flex-wrap.items-center.justify-between
      .justify-start
        .pl-4
      .justify-center aaa
      .justify-end
        .pr-4 >
  .container.mx-auto.p-3
    .button__v2.py-2.w-full.flex.flex-wrap.items-center.justify-between
      .justify-start
        .pl-4
      .justify-center aaa
      .justify-end
        .pr-4 >
  .container.mx-auto.p-3
    .button__v3.py-2.w-full.flex.flex-wrap.items-center.justify-between
      .justify-start
        .pl-4
      .justify-center aaa
      .justify-end
        .pr-4 >
