.button__v1 {
  background-color: $first-hilight-color;
  color: $secondary-color;
}

.button__v2 {
  border-width: 1px;
  border-style: solid;
  border-color: $first-hilight-color;
  color: $text-color;
  .arrow {
    color: $first-hilight-color;
  }
}

.button__v3 {
  border-width: 1px;
  border-style: solid;
  border-color: $tertiary-color;
  color: $text-color;
  .arrow {
    color: $tertiary-color;
  }
}

.button__v4 {
  background-color: $first-hilight-color;
  color: $primary-color;
}
