$primary-color: #343635 !default;
$secondary-color: #4e4d4e !default;
$tertiary-color: #999 !default;
$first-hilight-color: #d6b280 !default;
$second-hilight-color: #efe1ce;
$text-color: #fff !default;
$header-color: #000 !default;
$link-color: #2962ff !default;

// text
.text__color__primary{
  color: $primary-color;
}

.text__color__secondary{
  color: $secondary-color;
}

.text__color__tertiary{
  color: $tertiary-color;
}

.text__color__hilight{
  color: $first-hilight-color;
}

// background
.bg__color__primary{
  background-color: $primary-color;
}

.bg__color__secondary{
  background-color: $secondary-color;
}

.bg__color__tertiary{
  background-color: $tertiary-color;
}

.bg__color__hilight{
  background-color: $first-hilight-color;
}

// border
.border__color__primary{
  border-color: $primary-color;
}

.border__color__secondary{
  border-color: $secondary-color;
}

.border__color__tertiary{
  border-color: $tertiary-color;
}

.border__color__hilight{
  border-color: $first-hilight-color;
}
