.text_area p, img {
  padding-bottom: 1rem;
}
.cp_q {
  padding-left: 2rem;
  color: $first-hilight-color;
}
.cp_a {
  padding-left: 2rem;
}
.cp_q::before,.cp_a::before {
	margin: 0 1rem 0 -1.7rem;
}
.cp_q::before {
	content: 'Q';
}
.cp_a::before {
	content: 'A';
}
