@import '~reset-css';
@import 'color';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.main {
  &__title {
    color: $text-color;
  }
}

.header {
  background-color: $primary-color;
  &__title {
    color: $text-color;
  }
}

.footer {
  background-color: $primary-color;
  &__title {
    color: $text-color;
  }
}
