@import '~reset-css';
@import 'color';
@import 'button';
@import 'tag';
@import 'text';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.header {
  background-color: $header-color;
  color: $text-color;
}

.main {
  background-color: $primary-color;
  color: $text-color;
}

.secondary {
  background-color: $second-hilight-color;
  color: $primary-color;
}

.footer {
  background-color: $header-color;
  color: $text-color;
}
