@import '~reset-css';
@import 'color';

.main {
  height: 600px;
  &__title {
    color: $text-color;
  }
}

.header {
  height: 100px;
  background-color: $primary-color;
  &__title {
    color: $text-color;
  }
}

.footer {
  background-color: $primary-color;
  &__title {
    color: $text-color;
  }
}
