nav.header.flex.items-center.justify-between.flex-wrap.px-6.py-2.w-full.z-10.top-0.text-white
  .justify-start
    button.bg__color__hilight.rounded.m-auto.px-3.flex.content-center.items-center.h-8.w-full
      img(src="../static/icon_shopBlack.svg").m-auto.mt-1.w-6
      span.m-auto.mt-2.pt-0.text-sm.text-black.whitespace-no-wrap.align-middle.text-center.w-full 店舗検索
  .justify-center
    a.no-underline(href='#')
      span.text-2xl.pl-2
        img(src="../static/logo.png").w-24.sm_w-32.pt-1
  .justify-end
    .flex
      span.m-auto.pr-2 LOGIN
      button.m-auto
        svg.fill-current.h-5.w-5(viewBox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
          path(d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z')
